{% extends 'basepage.html' %}

{% block title %}
国家列表
{% endblock title %}

{% block content %}
<div class="container">
    {#新建按钮#}
   

    {#面板#}
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            国家列表
        </div>

        <!-- Table -->
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th style="text-align: center; justify-content: center;">序号</th>
                    <th style="text-align: center; justify-content: center;">国家代码</th>
                    <th style="text-align: center; justify-content: center;">国家名称</th>
                    <th style="text-align: center; justify-content: center;">所属地区</th>
                    <th style="text-align: center; justify-content: center;">备注</th>
                    <th style="text-align: center; justify-content: center;">操作</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in queryset %}
                <tr>
                    <th>{{ forloop.counter }}</th>
                    <td>{{ obj.N_NATIONKEY }}</td>
                    <td>{{ obj.N_NAME }}</td>
                    <td>{{ obj.N_REGIONKEY }}</td>
                    <td>{{ obj.N_COMMENT }}</td>
                    <td>
                        <a href="/NATION/{{ obj.N_NATIONKEY }}/edit/" class="btn btn-primary btn-xs">编辑</a>
                        <a href="/NATION/{{ obj.N_NATIONKEY }}/delete/" class="btn btn-danger btn-xs">删除</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div style="margin-bottom: 10px">
        <a class="btn btn-success" href="/NATION/add/">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            新建国家
        </a>
    </div>


</div>
{% endblock content %}