{% extends 'basepage.html' %}

{% block title %}
    零件列表
{% endblock title %}

{% block content %}
    <div class="container">
        {#新建按钮#}
        

        {#面板#}
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                零件列表
            </div>

            <!-- Table -->
            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th style="text-align: center; justify-content: center;">ID</th>
                    <th style="text-align: center; justify-content: center;">编号</th>
                    <th style="text-align: center; justify-content: center;">名称</th>
                    <th style="text-align: center; justify-content: center;">生产商</th>
                    <th style="text-align: center; justify-content: center;">品牌</th>
                    <th style="text-align: center; justify-content: center;">型号</th>
                    <th style="text-align: center; justify-content: center;">尺寸</th>
                    <th style="text-align: center; justify-content: center;">包装容器</th>
                    <th style="text-align: center; justify-content: center;">零售价</th>
                    <th style="text-align: center; justify-content: center;">备注</th>
                    <th style="text-align: center; justify-content: center;">操作</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in queryset %}
                    <tr>
                        <th>{{ forloop.counter }}</th>
                        <td>{{ obj.P_PARTKEY }}</td>
                        <td>{{ obj.P_NAME }}</td>
                        <td>{{ obj.P_MFGR }}</td>
                        <td>{{ obj.P_BRAND }}</td>
                        <td>{{ obj.P_TYPE }}</td>
                        <td>{{ obj.P_SIZE }}</td>
                        <td>{{ obj.P_CONTAINER }}</td>
                        <td>{{ obj.P_RETAILPRICE }}</td>
                        <td>{{ obj.P_COMMENT }}</td>        
                        <td>
                            <a href="/PART/{{ obj.P_PARTKEY }}/edit/" class="btn btn-primary btn-xs">编辑</a>
                            <a href="/PART/{{ obj.P_PARTKEY }}/delete/" class="btn btn-danger btn-xs">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div style="margin-bottom: 10px">
            <a class="btn btn-success" href="/PART/add/">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                新建零件
            </a>
        </div>


    </div>
{% endblock content %}